/* extra small */
@media(max-width:575.98px){
    .main-nav{
        height: auto;
       
        background-color: #21243d;
    }
    .container{
        padding: 0px 50px 0px 50px;
    }
    .toggle-icon{
        display: block;
        color: white;
        font-size: 20px;
        position: absolute;
        left: 70%;
        transform: translate(70px,40px);
    }
    .wraper{
       flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .navbar-logo{
        padding-bottom: 20px;
    }
    .navbar-nav{
       flex-direction: column;
       text-align: center;
    }
    .nav-item{
        list-style: none;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .seacrh-icon{
        font-size: 15px;
        color: white;
        padding-bottom: 20px;
    }
    .banner-section{
        height: auto;
        
        background-image: url(./banner-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .banner-text{
        text-align: center;
    }
    .banner-title{
        padding-top: 100px;
        color: white;
        font-size: 70px;
    }
    .banner-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .button{
        height: 40px;
        width: 180px;
    }
    .banner-button{
        margin-top: 50px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-1{
        height: auto;
        
        background-color: #21243d;
        background-image: url(../images/sec-1-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .section-1-title-para{
        text-align: center;
    }
    .section-1-title{
        padding-top: 40px;
        color: white;
        font-size: 50px;
    }
    .section-1-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-1-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-1-box-1{
        text-align: center;
        margin-bottom: 20px;
    }
    .sec-1-box-1-title{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-1-box-1-para{
        padding-top: 20px;
        color: white;
        font-size: 15px;
    }
    .section-2{
        height: auto;
        width: 100%;
        background-image: url(../images/sec-2-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #ffd17e;
    }
    .sec-2-img-txt{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .sec-2-photo{
        max-width: 200px;
    }
    .sec-2-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-2-para{
        font-size: 20px;
        color: #21243d;
    }
    .sec-2-button{
        margin-top: 60px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .section-3{
        height: auto;
        width: 100%;
        background-color: #21243d;
        background-image: url(../images/sec-3-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-3-title-para{
        text-align: center;
    }
    .sec-3-title{
        padding-top: 100px;
        color: white;
        font-size: 50px;
    }
    .sec-3-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-3-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-3-box-1{
        height: auto;
        width: 100px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding:70px;
    }
    .count-txt{
        text-align: center;
    }
    .count{
        color: white;
        font-size: 30px;
    }
    .txt{
        color: white;
        font-size: 20px;
    }
    .section-4{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-4-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-4-txt-img{
       flex-direction: column;
       text-align: center;
        padding-top: 50px;
    }
    .sec-4-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-4-para{
        color: #21243d;
        padding-top: 20px;
        font-size: 20px;
    }
    .sec-4-button{
        margin-top: 30px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
    }
    .sec-4-photo{
        max-width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-5{
        height: auto;
        width: 100%;
        background-image: url(../images/section-5-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #0d141e;
        background-blend-mode: overlay;
    }
    .sec-5-img-txt-name{
        text-align: center;
    }
    .sec-5-photo{
        padding-top: 100px;
    }
    .sec-5-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-5-name{
        padding-top: 20px;
        color: white;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .section-6{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-6-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-6-title-para-form{
        text-align: center;
    }
    .sec-6-title{
        padding-top: 50px;
        color: #21243d;
        font-size: 50px;
    }
    .sec-6-para{
        padding-top: 20px;
        font-size: 20px;
        color: #21243d;
    }
    .block{
        margin-top: 40px;
        height: 40px;
        width: 200px;
        padding-left: 20px;
        border-style: none;
        border-radius: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .form-button{
        height: 40px;
        width: 100px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        transform: translate(0);
        margin-bottom: 20px;
    }
    .footer-section{
        height: auto;
        
        background-color: #111111;
    }
    .footer-columns{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .footer-col{
        margin-bottom: 40px;
    }
    .footer-col-1-title{
        color: white;
        font-size: 30px;
    }
    .footer-col-1-para{
        color: white;
        padding-top: 20px;
        font-size: 15px;
    }
    .fa-brands{
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        font-size: 20px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .social-media-4{
        margin-right: 0px;
    }
    .footer-items{
        padding-top: 10px;
    }
    .item{
        list-style: none;
        padding-top: 20px;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}
/* small */
@media(min-width:576px) and (max-width:767.98px){
    .main-nav{
        height: auto;
       
        background-color: #21243d;
    }
    .container{
        padding: 0px 50px 0px 50px;
    }
    .toggle-icon{
        display: block;
        color: white;
        font-size: 20px;
        position: absolute;
        left: 70%;
        transform: translate(70px,40px);
    }
    .wraper{
       flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .navbar-logo{
        padding-bottom: 20px;
    }
    .navbar-nav{
       flex-direction: column;
       text-align: center;
    }
    .nav-item{
        list-style: none;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .seacrh-icon{
        font-size: 15px;
        color: white;
        padding-bottom: 20px;
    }
    .banner-section{
        height: auto;
        
        background-image: url(./banner-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .banner-text{
        text-align: center;
    }
    .banner-title{
        padding-top: 100px;
        color: white;
        font-size: 70px;
    }
    .banner-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .button{
        height: 40px;
        width: 180px;
    }
    .banner-button{
        margin-top: 50px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-1{
        height: auto;
        
        background-color: #21243d;
        background-image: url(../images/sec-1-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .section-1-title-para{
        text-align: center;
    }
    .section-1-title{
        padding-top: 40px;
        color: white;
        font-size: 50px;
    }
    .section-1-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-1-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-1-box-1{
        text-align: center;
        margin-bottom: 20px;
    }
    .sec-1-box-1-title{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-1-box-1-para{
        padding-top: 20px;
        color: white;
        font-size: 15px;
    }
    .section-2{
        height: auto;
        width: 100%;
        background-image: url(../images/sec-2-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #ffd17e;
    }
    .sec-2-img-txt{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .sec-2-photo{
        max-width: 200px;
    }
    .sec-2-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-2-para{
        font-size: 20px;
        color: #21243d;
    }
    .sec-2-button{
        margin-top: 60px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .section-3{
        height: auto;
        width: 100%;
        background-color: #21243d;
        background-image: url(../images/sec-3-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-3-title-para{
        text-align: center;
    }
    .sec-3-title{
        padding-top: 100px;
        color: white;
        font-size: 50px;
    }
    .sec-3-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-3-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-3-box-1{
        height: auto;
        width: 100px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding:70px;
    }
    .count-txt{
        text-align: center;
    }
    .count{
        color: white;
        font-size: 30px;
    }
    .txt{
        color: white;
        font-size: 20px;
    }
    .section-4{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-4-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-4-txt-img{
       flex-direction: column;
       text-align: center;
        padding-top: 50px;
    }
    .sec-4-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-4-para{
        color: #21243d;
        padding-top: 20px;
        font-size: 20px;
    }
    .sec-4-button{
        margin-top: 30px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
    }
    .sec-4-photo{
        max-width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-5{
        height: auto;
        width: 100%;
        background-image: url(../images/section-5-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #0d141e;
        background-blend-mode: overlay;
    }
    .sec-5-img-txt-name{
        text-align: center;
    }
    .sec-5-photo{
        padding-top: 100px;
    }
    .sec-5-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-5-name{
        padding-top: 20px;
        color: white;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .section-6{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-6-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-6-title-para-form{
        text-align: center;
    }
    .sec-6-title{
        padding-top: 50px;
        color: #21243d;
        font-size: 50px;
    }
    .sec-6-para{
        padding-top: 20px;
        font-size: 20px;
        color: #21243d;
    }
    .block{
        margin-top: 40px;
        height: 40px;
        width: 200px;
        padding-left: 20px;
        border-style: none;
        border-radius: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .form-button{
        height: 40px;
        width: 100px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        transform: translate(0);
        margin-bottom: 20px;
    }
    .footer-section{
        height: auto;
        
        background-color: #111111;
    }
    .footer-columns{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .footer-col{
        margin-bottom: 40px;
    }
    .footer-col-1-title{
        color: white;
        font-size: 30px;
    }
    .footer-col-1-para{
        color: white;
        padding-top: 20px;
        font-size: 15px;
    }
    .fa-brands{
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        font-size: 20px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .social-media-4{
        margin-right: 0px;
    }
    .footer-items{
        padding-top: 10px;
    }
    .item{
        list-style: none;
        padding-top: 20px;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}
/* medium */
@media(min-width:768px) and (max-width:991.98px){
    .main-nav{
        height: auto;
       
        background-color: #21243d;
    }
    .container{
        padding: 0px 50px 0px 50px;
    }
    .toggle-icon{
        display: block;
        color: white;
        font-size: 20px;
        position: absolute;
        left: 70%;
        transform: translate(70px,40px);
    }
    .wraper{
       flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .navbar-logo{
        padding-bottom: 20px;
    }
    .navbar-nav{
       flex-direction: column;
       text-align: center;
    }
    .nav-item{
        list-style: none;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .seacrh-icon{
        font-size: 15px;
        color: white;
        padding-bottom: 20px;
    }
    .banner-section{
        height: auto;
        
        background-image: url(./banner-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .banner-text{
        text-align: center;
    }
    .banner-title{
        padding-top: 100px;
        color: white;
        font-size: 70px;
    }
    .banner-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .button{
        height: 40px;
        width: 180px;
    }
    .banner-button{
        margin-top: 50px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-1{
        height: auto;
        
        background-color: #21243d;
        background-image: url(../images/sec-1-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .section-1-title-para{
        text-align: center;
    }
    .section-1-title{
        padding-top: 40px;
        color: white;
        font-size: 50px;
    }
    .section-1-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-1-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-1-box-1{
        text-align: center;
        margin-bottom: 20px;
    }
    .sec-1-box-1-title{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-1-box-1-para{
        padding-top: 20px;
        color: white;
        font-size: 15px;
    }
    .section-2{
        height: auto;
        width: 100%;
        background-image: url(../images/sec-2-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #ffd17e;
    }
    .sec-2-img-txt{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .sec-2-photo{
        max-width: 200px;
    }
    .sec-2-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-2-para{
        font-size: 20px;
        color: #21243d;
    }
    .sec-2-button{
        margin-top: 60px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .section-3{
        height: auto;
        width: 100%;
        background-color: #21243d;
        background-image: url(../images/sec-3-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-3-title-para{
        text-align: center;
    }
    .sec-3-title{
        padding-top: 100px;
        color: white;
        font-size: 50px;
    }
    .sec-3-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-3-box{
       flex-direction: column;
        margin-top: 50px;
    }
    .sec-3-box-1{
        height: auto;
        width: 100px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding:70px;
    }
    .count-txt{
        text-align: center;
    }
    .count{
        color: white;
        font-size: 30px;
    }
    .txt{
        color: white;
        font-size: 20px;
    }
    .section-4{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-4-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-4-txt-img{
       flex-direction: column;
       text-align: center;
        padding-top: 50px;
    }
    .sec-4-title{
        color: #21243d;
        font-size: 50px;
    }
    .sec-4-para{
        color: #21243d;
        padding-top: 20px;
        font-size: 20px;
    }
    .sec-4-button{
        margin-top: 30px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
    }
    .sec-4-photo{
        max-width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-5{
        height: auto;
        width: 100%;
        background-image: url(../images/section-5-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #0d141e;
        background-blend-mode: overlay;
    }
    .sec-5-img-txt-name{
        text-align: center;
    }
    .sec-5-photo{
        padding-top: 100px;
    }
    .sec-5-para{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .sec-5-name{
        padding-top: 20px;
        color: white;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .section-6{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-6-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-6-title-para-form{
        text-align: center;
    }
    .sec-6-title{
        padding-top: 50px;
        color: #21243d;
        font-size: 50px;
    }
    .sec-6-para{
        padding-top: 20px;
        font-size: 20px;
        color: #21243d;
    }
    .block{
        margin-top: 40px;
        height: 40px;
        width: 200px;
        padding-left: 20px;
        border-style: none;
        border-radius: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .form-button{
        height: 40px;
        width: 100px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 15px;
        transform: translate(0);
        margin-bottom: 20px;
    }
    .footer-section{
        height: auto;
        
        background-color: #111111;
    }
    .footer-columns{
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }
    .footer-col{
        margin-bottom: 40px;
    }
    .footer-col-1-title{
        color: white;
        font-size: 30px;
    }
    .footer-col-1-para{
        color: white;
        padding-top: 20px;
        font-size: 15px;
    }
    .fa-brands{
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        font-size: 20px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .social-media-4{
        margin-right: 0px;
    }
    .footer-items{
        padding-top: 10px;
    }
    .item{
        list-style: none;
        padding-top: 20px;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}
/* large */
@media(min-width:992px) and (max-width:1199.98px){
    .main-nav{
        height: auto;
       
        background-color: #21243d;
    }
    .container{
        padding: 0px 50px 0px 50px;
    }
    .toggle-icon{
        display: none;
        
    }
    .wraper{
       display: flex;
       justify-content: space-between;
       align-items: center;
        padding-top: 10px;
       
    }
    .navbar-logo{
        padding-bottom: 0px;
    }
    .navbar-nav{
      display: flex;
      
    }
    .nav-item{
        list-style: none;
        padding-right: 40px;
        padding-bottom: 0px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    .seacrh-icon{
        font-size: 18px;
        color: white;
        padding-bottom: 0px;
    }
    .banner-section{
        height: auto;
        
        background-image: url(./banner-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    
    .banner-title{
        padding-top: 100px;
        color: white;
        font-size: 90px;
    }
    .banner-para{
        padding-top: 20px;
        color: white;
        font-size: 40px;
    }
    .button{
        height: 40px;
        width: 180px;
    }
    .banner-button{
        margin-top: 50px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .section-1{
        height: auto;
        
        background-color: #21243d;
        background-image: url(../images/sec-1-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .section-1-title-para{
        text-align: center;
    }
    .section-1-title{
        padding-top: 40px;
        color: white;
        font-size: 60px;
    }
    .section-1-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-1-box{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        margin-top: 50px;
    }
    .sec-1-box-1{
        text-align: center;
        margin-bottom: 20px;
    }
    .sec-1-box-1-title{
        padding-top: 20px;
        color: white;
        font-size: 40px;
    }
    .sec-1-box-1-para{
        padding-top: 20px;
        color: white;
        font-size: 18px;
    }
    .section-2{
        height: auto;
        width: 100%;
        background-image: url(../images/sec-2-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #ffd17e;
    }
    .sec-2-img-txt{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .sec-2-photo{
        max-width: 400px;
    }
    .sec-2-title{
        color: #21243d;
        font-size: 60px;
    }
    .sec-2-para{
        font-size: 25px;
        color: #21243d;
    }
    .sec-2-button{
        margin-top: 60px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-3{
        height: auto;
        width: 100%;
        background-color: #21243d;
        background-image: url(../images/sec-3-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-3-title-para{
        text-align: center;
    }
    .sec-3-title{
        padding-top: 100px;
        color: white;
        font-size: 60px;
    }
    .sec-3-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-3-box{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        margin-top: 50px;
    }
    .sec-3-box-1{
        height: auto;
        width: 100px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding:70px;
    }
    .count-txt{
        text-align: center;
    }
    .count{
        color: white;
        font-size: 40px;
    }
    .txt{
        color: white;
        font-size: 30px;
    }
    .section-4{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-4-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-4-txt-img{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        padding-top: 50px;
    }
    .sec-4-title{
        color: #21243d;
        font-size: 60px;
    }
    .sec-4-para{
        color: #21243d;
        padding-top: 20px;
        font-size: 30px;
    }
    .sec-4-button{
        margin-top: 30px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
    }
    .sec-4-photo{
        max-width: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-5{
        height: auto;
        width: 100%;
        background-image: url(../images/section-5-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #0d141e;
        background-blend-mode: overlay;
    }
    .sec-5-img-txt-name{
        text-align: center;
    }
    .sec-5-photo{
        padding-top: 100px;
    }
    .sec-5-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-5-name{
        padding-top: 20px;
        color: white;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .section-6{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-6-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-6-title-para-form{
        text-align: center;
    }
    .sec-6-title{
        padding-top: 50px;
        color: #21243d;
        font-size: 60px;
    }
    .sec-6-para{
        padding-top: 20px;
        font-size: 30px;
        color: #21243d;
    }
    .block{
        margin-top: 40px;
        height: 50px;
        width: 400px;
        padding-left: 20px;
        border-style: none;
        border-radius: 20px;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .form-button{
        height: 50px;
        width: 200px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        transform: translate(-20%,2%);
        margin-bottom: 40px;
    }
    .footer-section{
        height: auto;
        
        background-color: #111111;
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .footer-col{
        margin-bottom: 40px;
    }
    .footer-col-1-title{
        color: white;
        font-size: 40px;
    }
    .footer-col-1-para{
        color: white;
        padding-top: 20px;
        font-size: 18px;
    }
    .fa-brands{
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .social-media-4{
        margin-right: 0px;
    }
    .footer-items{
        padding-top: 10px;
    }
    .item{
        list-style: none;
        padding-top: 20px;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}
/* extra large */
@media(min-width:1200px) and (max-width:1499.98px){
    .main-nav{
        height: auto;
       
        background-color: #21243d;
    }
    .container{
        padding: 0px 50px 0px 50px;
    }
    .toggle-icon{
        display: none;
        
    }
    .wraper{
       display: flex;
       justify-content: space-between;
       align-items: center;
        padding-top: 10px;
       
    }
    .navbar-logo{
        padding-bottom: 0px;
    }
    .navbar-nav{
      display: flex;
      
    }
    .nav-item{
        list-style: none;
        padding-right: 40px;
        padding-bottom: 0px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    .seacrh-icon{
        font-size: 18px;
        color: white;
        padding-bottom: 0px;
    }
    .banner-section{
        height: auto;
        
        background-image: url(./banner-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    
    .banner-title{
        padding-top: 100px;
        color: white;
        font-size: 90px;
    }
    .banner-para{
        padding-top: 20px;
        color: white;
        font-size: 40px;
    }
    .button{
        height: 40px;
        width: 180px;
    }
    .banner-button{
        margin-top: 50px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .section-1{
        height: auto;
        
        background-color: #21243d;
        background-image: url(../images/sec-1-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .section-1-title-para{
        text-align: center;
    }
    .section-1-title{
        padding-top: 40px;
        color: white;
        font-size: 60px;
    }
    .section-1-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-1-box{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        margin-top: 50px;
    }
    .sec-1-box-1{
        text-align: center;
        margin-bottom: 20px;
    }
    .sec-1-box-1-title{
        padding-top: 20px;
        color: white;
        font-size: 40px;
    }
    .sec-1-box-1-para{
        padding-top: 20px;
        color: white;
        font-size: 18px;
    }
    .section-2{
        height: auto;
        width: 100%;
        background-image: url(../images/sec-2-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #ffd17e;
    }
    .sec-2-img-txt{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .sec-2-photo{
        max-width: 400px;
    }
    .sec-2-title{
        color: #21243d;
        font-size: 60px;
    }
    .sec-2-para{
        font-size: 25px;
        color: #21243d;
    }
    .sec-2-button{
        margin-top: 60px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section-3{
        height: auto;
        width: 100%;
        background-color: #21243d;
        background-image: url(../images/sec-3-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-3-title-para{
        text-align: center;
    }
    .sec-3-title{
        padding-top: 100px;
        color: white;
        font-size: 60px;
    }
    .sec-3-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-3-box{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        margin-top: 50px;
    }
    .sec-3-box-1{
        height: auto;
        width: 100px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding:70px;
    }
    .count-txt{
        text-align: center;
    }
    .count{
        color: white;
        font-size: 40px;
    }
    .txt{
        color: white;
        font-size: 30px;
    }
    .section-4{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-4-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-4-txt-img{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
        padding-top: 50px;
    }
    .sec-4-title{
        color: #21243d;
        font-size: 60px;
    }
    .sec-4-para{
        color: #21243d;
        padding-top: 20px;
        font-size: 30px;
    }
    .sec-4-button{
        margin-top: 30px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
    }
    .sec-4-photo{
        max-width: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-5{
        height: auto;
        width: 100%;
        background-image: url(../images/section-5-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-color: #0d141e;
        background-blend-mode: overlay;
    }
    .sec-5-img-txt-name{
        text-align: center;
    }
    .sec-5-photo{
        padding-top: 100px;
    }
    .sec-5-para{
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .sec-5-name{
        padding-top: 20px;
        color: white;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .section-6{
        height: auto;
        width: 100%;
        background-color: #ffd17e;
        background-image: url(../images/sec-6-bg-img.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    .sec-6-title-para-form{
        text-align: center;
    }
    .sec-6-title{
        padding-top: 50px;
        color: #21243d;
        font-size: 60px;
    }
    .sec-6-para{
        padding-top: 20px;
        font-size: 30px;
        color: #21243d;
    }
    .block{
        margin-top: 40px;
        height: 50px;
        width: 400px;
        padding-left: 20px;
        border-style: none;
        border-radius: 20px;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .form-button{
        height: 50px;
        width: 200px;
        border-radius: 20px;
        border-style: none;
        background-color: #21243d;
        color: white;
        font-size: 18px;
        transform: translate(-20%,2%);
        margin-bottom: 40px;
    }
    .footer-section{
        height: auto;
        
        background-color: #111111;
    }
    .footer-columns{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .footer-col{
        margin-bottom: 40px;
    }
    .footer-col-1-title{
        color: white;
        font-size: 40px;
    }
    .footer-col-1-para{
        color: white;
        padding-top: 20px;
        font-size: 18px;
    }
    .fa-brands{
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .social-media-4{
        margin-right: 0px;
    }
    .footer-items{
        padding-top: 10px;
    }
    .item{
        list-style: none;
        padding-top: 20px;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}